{% extends "bootstrap/base.html" %}
{% block head %}
    <title>Battleship</title>
        <meta charset="utf-8">

        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Loved+by+the+King&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="/static/css/style.css">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
{% endblock %}

{% block content %}
     {% with messages = get_flashed_messages() %}
      {% if messages %}
        <script>
            window.onload = load;
            function load() {
                var messages = {{ messages | safe }};
                for (var i = 0; i < messages.length; i++) {
                    alert(messages[i]);
                }
            }
        </script>
      {% endif %}
    {% endwith %}
    <nav class="sticky" style="background-color:#05a3ca;">
        <div class="container">
            <div class="navbar-brand">Battleship Game</div>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav" style="list-style: none">
                    {% if current_user.is_authenticated %}
                        <li class="nav-item" style="margin-right: 15px">
                            <a class="nav-link nav_hover" href="/logout" style="color:white;">Wyloguj się</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav_hover" href="/profile/{{ current_user.username }}" style="color:white;">{{ current_user.username }}</a>
                            <img src="\static\avatars\{{ current_user.image_file }}" id='avatar'>
                        </li>
                    {% endif %}
                </ul>
        </div>
    </nav>
     <header class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <a href="/">
                        <h1 id="intro">Statki Online</h1>
                    </a>
                </div>
            </div>
        </header>
        {% block page_content %}{% endblock %}
{% endblock %}