{% extends "base.html" %}

{% block head %}
    <title>Battleship</title>
    <meta charset="utf-8">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Loved+by+the+King&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/game.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="math.js" type="text/javascript"></script>
{% endblock %}

{% block page_content %}

    <main>
        <div class="row">
            <section class="col-md-2"></section>

            <section class="col-sm-12 col-md-4" class="board" id="left_board">
                <div class="board">
                    {% for n in range(100) %}
                        <div id="b1_square{{n}}" class="square"></div>
                    {% endfor %}
                </div>
            </section>

            <section class="col-sm-12 col-md-4" class="board" id="right_board">
                <div class="board">
                    {% for n in range(100) %}
                        <div id="b2_square{{n}}" class="square"></div>
                    {% endfor %}
                </div>
            </section>

            <section class="col-md-2"></section>
        </div>

        <div class="row">
            <section class="col-md-2"></section>

            <section class="col-md-8">
                <div id="gamepanel">
                    <div class="row">
                        <section class="col-md-3">
                            <div class="panel_element">
                                current player: <span id='player'></span>
                            </div>
                        </section>

                         <section class="col-md-3">
                            <div class="panel_element">
                                <button type="button" id="player_swap" onclick="switch_player()">Zmień gracza</button>
                            </div>
                        </section>

                        <section class="col-md-3 ">
                            <div  class="panel_element">
                                <button type="button" id="game_trigger" onclick="start_game()">Rozpocznij Grę</button>
                            </div>
                        </section>
                        
                        <section class="col-md-3">
                            <div class="panel_element">
                                <button type="button" id="ship_relocation">Rozstaw statki</button>
                            </div>
                        </section>
                    </div>
                </div>
            </section>

            <section class="col-md-2"></section>
        </div>
    </main>

    <script>

        var game_started = false;
        var player_moved = false;
        
        var player = 1;

        var player_one_points = 0;
        var player_two_points = 0;
        
        var b1_square = [];
        var b2_square = [];

        var b1_ships = [];
        var b2_ships = [];

        $('#player').html(player);

        get_ships(1);
        get_ships(2);

        var ship_relocation = document.getElementById('ship_relocation');
        ship_relocation.addEventListener("click", () => { get_ships(player); });
        
        function start_game() {
            game_started = true;

            for (let i = 0; i < 100; i++) {
                b1_square[i] = document.getElementById('b1_square' + i);
                b1_square[i].addEventListener("click", () => { handle_clicked_field(i); });
            }

            for (let i = 0; i < 100; i++) {
                b2_square[i] = document.getElementById('b2_square' + i);
                b2_square[i].addEventListener("click", () => { handle_clicked_field(i); });
            }

            $('#game_trigger').attr('readonly', 'true');
            $('#ship_relocation').attr('readonly', 'true');

            $('#game_trigger').css('opacity', '0.75');
            $('#ship_relocation').css('opacity', '0.75');

            $('#game_trigger').css('pointer-events', 'none');
            $('#ship_relocation').css('pointer-events', 'none');
            
            if (player == 2) {
                player = 1;
                $('#player').html(player);
            }

            disable_board(String(1));
        }

        function get_ships(player_nr) {
            if (player_nr == 1) {
                for (let i = 0; i < 30; i++) {
                    b1_ships[i] = getRandomInt(0, 99);
                }
            } else if (player_nr == 2) {
                for (let i = 0; i < 30; i++) {
                    b2_ships[i] = getRandomInt(0, 99);
                }
            }
        }

        function handle_clicked_field(nr) {
            if (player == 1) {
                if (b2_ships.includes(nr)) {
                    player_one_points++;
                    flip_success(nr);
                } else {
                    flip_failure(nr);
                }
                disable_board(String(2));
            } else if (player == 2) {
                if (b1_ships.includes(nr)) {
                    player_two_points++;
                    flip_success(nr);
                } else {
                    flip_failure(nr);
                }
                disable_board(String(1));
            }
        }

        function flip_success(nr) {
            var id_prefix = set_prefix();

            $('#' + id_prefix + nr).removeClass('square');
            $('#' + id_prefix + nr).addClass('square_success');

            if (player_one_points == 19 || player_two_points == 19) {
                end_game();
            }
        }

        function flip_failure(nr) {
            var id_prefix = set_prefix();

            $('#' + id_prefix + nr).removeClass('square');
            $('#' + id_prefix + nr).addClass('square_fail');
        }

        function switch_player() {
            var board_to_disable = player;
            
            player = (player == 1 ? 2 : 1);
            $('#player').html(player);

            enable_board(String(board_to_disable));
        }

        function disable_board(nr) {
            for (let i = 0; i < 100; i++) {
                $("#b" + nr + "_square" + i).css("pointer-events", "none");
            }
        }

        function enable_board(nr) {
            for (let i = 0; i < 100; i++) {
                $("#b" + nr + "_square" + i).css("pointer-events", "auto");
            }
        }

        function end_game(player) {
            $('#player_swap').attr('readonly', 'true');
            $('#player_swap').css('opacity', '0.75');
            $('#player_swap').css('pointer-events', 'none');
            
            if (player_one_points == 19) {
                alert("Zwycięża gracz 1");
            } else if (player_two_points == 19) {
                alert("Zwycięża gracz 2");
            }

            () => {
                disable_board(1);
                disable_board(2);
            }
        }

        function set_prefix() {
            var id_prefix;
            if (player == 1) {
                id_prefix = "b2_square";
            } else if (player == 2) {
                id_prefix = "b1_square";
            }

            return id_prefix;
        }

        function getRandomInt(min, max) {
            min = Math.ceil(min);
            max = Math.floor(max);
            return Math.floor(Math.random() * (max - min)) + min;
        }

    </script>

{% endblock %}