{% extends "base.html" %} 

{% import "bootstrap/wtf.html" as wtf %} 

{% block page_content %}
<main class="container">
  <div class="field">
    <table class="table" id="game-history">
      <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">Gracz 1.</th>
          <th scope="col">Gracz 2.</th>
        </tr>
      </thead>
      <tbody>
        {% for game in games.items %}
        <tr>
          <th scope="row"><a href="/replay/{{ game.id }}">{{ game.id }}</a></th>
          <td>{{ game.player1 }}</td>
          <td>{{ game.player2 }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="field">
    {% for page in games.iter_pages() %}
    <a class="page" href="/replays/{{ page }}">{{ page }}</a>
    {% endfor %}
  </div>
</main>
{% endblock %}
