{% extends "base.html" %}


{% block page_content %}
        <main class="container">
            <div class="row">
                <section class="col-sm-12 col-md-6 col-lg-4" class="border">
                    <div class="field">
                        <p>Pierwszy raz tutaj? Zobacz jak grać!</p>
                        <a href="./manual">
                            <button class="go">Instrukcja</button>
                        </a>
                    </div>
                </section>
                <section class="col-sm-12 col-md-6 col-lg-4 border" class="border">
                    <div class="field">
                        <p>Gotowy żeby rozpocząć rozgrywkę? Let the Battle Begin!</p>
                        <a href="./game">
                            <button class="go">Rozgrywka</button>
                        </a>
                    </div>
                </section>
                <section class="col-sm-12 col-md-6 col-lg-4 border" class="border">
                    <div class="field">
                        <p>Wszystkie epickie rozgrywki z przeszłości.</p>
                        <a href="#">
                            <button class="go">Statystyki</button>
                        </a>
                    </div>
                </section>
            </div>
        </main>
{% endblock %}